/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    color: #1D3557;
}

img {
    width: 100px;
}

/* Start Hero Section CSS */
    #hero {
        background-image: url("images/main.jpg");
        background-size: cover;
        padding: 19% 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #hero-h1 {
        background: #D36135;
        color: white;
        border-radius: 12px;
        padding: 5px 15px;
        margin-bottom: 0px;
    }

    #hero-h2 {
        background: #ffba08;
        color: white;
        border-radius: 12px;
        padding: 10px 10px;
        width: 450px;
        margin-top: 15px;
    }
/* END Hero Section CSS */

/* Start Activities Section CSS */
    #activities {
        background-color: #F1FAEE;
        padding: 15px 0;
    }

    .activity {
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }

    .activiy-img {
        border-radius: 100%;
    }

    .activity-desc {
        width: 180px;
        margin: 20px 55px 5px 10px;
    }
/* END Activities Section CSS */

/* Start Guide Section CSS */
#guide {
    display: flex;
    background-color: #A8DADC;
    width: 362px;
    height: 294px;
    margin: 50px auto;
    padding: 0px 12px;
    border-radius: 10px;
    border-bottom: 6px solid #1D3557;
    align-items: center;
}

.guide-p {
    font-style: italic;
}

#guide-img {
    width: 180px;
    border-radius: 10px;
}